[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Visual Studio Code
Comment=Code Editing. Redefined
Categories=Development;IDE;
Terminal=false
Exec=/opt/code/code
Icon=/opt/code/resources/app/resources/linux/code.png