[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=GitKraken
Comment=Legendary Git Tools
Categories=Development;Git;
Terminal=false
Exec=/opt/gitkraken/gitkraken
Icon=/opt/gitkraken/gitkraken.png